{% extends "dashboard_index.html" %} {% load static %} {% block title %}
<h1>Progress</h1>
{% endblock title %} {% block content %}
<div class="container-fluid bg-light shadow rounded-3 p-3">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Total Challenges Attempted</h5>
          <p class="card-text">{{ challenges|length }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Completion Rate</h5>
          <p class="card-text">{{ completion_percentage.completion_percentage }}%</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Current Streak</h5>
            <p class="card-text">{{ current_streak }} days</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Average Attempts Per Challenge</h5>
          <p class="card-text">{{ average_number_of_attempts }}</p>
        </div>
      </div>
    </div>
    <!-- Add more cards as needed -->
  </div>
  <table id="example">
    <thead>
      <tr>
        <th>Challenge Name</th>
        <th>Number of Attempts</th>
        <th>Completed</th>
        <th>Difficulty Level</th>
        <th>Latest Attempt</th>
      </tr>
    </thead>
    <tbody>
      {% for challenge in challenges %}
      <tr>
        <td>{{ challenge.challenge__name}}</td>
        <td>{{challenge.count}}</td>
        <td>{{challenge.success}}</td>
        <td>{{challenge.challenge__difficulty_level|capfirst}}</td>
        <td>{{challenge.latest_attempt|date:"D d M Y - H:i A"}}</td>
      </tr>
      {% endfor %}
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
{% endblock content %} {% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS and JS -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
></script>

<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>
{% endblock javascript%}
